<h3>All <%=@activity.name%>'s comments</h3>

<%@activity.comments[0..1].each do |c|%>
  <p>On <%=c.created_at.strftime("%B %d, %Y")%>, <b><%=c.user.name%></b> said, "<%=c.content%>"</p>
<%end%>

<p><a href="/activities/<%=@activity.slug%>">Back</a> to <%=@activity.name%>'s page</p>
