<h3>Edit Activity</h3>

<form action="/activities/<%=@activity.slug%>" method="post">
  <label>Name:</label>
  <input type="text" name="name" id="name" value="<%=@activity.name%>"></input>
  <br></br>

  <label>Address:</label>
  <input type="text" name="address" id="address" value="<%=@activity.address%>"></input>
  <br></br>

  <label>Description:</label>
  <textarea name="description" id="description" rows="10" cols="30"><%=@activity.description%></textarea>
  <br></br>

  <label>Category Type:</label>
  <%Category.all.each do |c|%>
    <input type="radio" name="category_id" value="<%=c.id%>" id="category_id"><%=c.name%></input>
  <%end%>
  <br></br>

  <input type="submit" value="Submit">
</form>
