<h3><%=@activity.name%></h3>
<h4>Owned by <%=@activity.user.name%></h4>

<p><%=@activity.description%></p>
<p>Comments about <%=@activity.name%></p>
<%@activity.comments.each do |c|%>
  <p><%=c.user.name%> said <%=c.content%></p>
<%end%>

Post your comment about <%=@activity.name%> below:

<form action="/post">
</form>

<form action="/activities/<%=@activity.slug%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="submit" value="Delete">
</form>
