<h3><%=@activity.name%>
<form action="/activities/<%=@activity.slug%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="submit" value="Delete">
</form>
</h3>
<h4>Recommended by <%=@activity.user.name%> | <a href="/activities/<%=@activity.slug%>/edit">Edit</a> this activity</h4>

<p><%=@activity.description%></p>
<p>Comments about <%=@activity.name%></p>
<%@activity.comments[0..1].each do |c|%>
  <p><%=c.user.name%> said <%=c.content%></p>
<%end%>
