<h3><%=@activity.name%>
<form action="/activities/<%=@activity.slug%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="submit" value="Delete">
</form>
</h3>
<h4>Recommended by <%=@activity.user.name%> | <a href="/activities/<%=@activity.slug%>/edit">Edit</a> this activity</h4>

<p><%=@activity.description%></p>
<h4>Comments about <%=@activity.name%></h4>
<%@activity.comments.last(2).each do |c|%>
  <p>On <%=c.created_at.strftime("%B %d, %Y")%>, <strong><%=c.user.name%></strong> said, "<em><%=c.content%></em>"</p>
<%end%>

<p>Post a new comment <a href="/activities/<%=@activity.slug%>/comments/new">here</a>!</p>
<p>See all comments <a href="/activities/<%=@activity.slug%>/comments">here</a>!</p>
